# CLion-specific files/directories (globally)
**/.idea/
**/cmake-build-debug/

# Compiled Object files
*.o
*.obj
*.so
*.exe
*.dll
*.a
*.lib

# Makefile outputs
Makefile
Makefile.in
Makefile.out

# Other common C/C++ artifacts
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.temp
*.tlog
*.log
*.vscode/

# System-specific files
*.DS_Store # macOS specific

# Default ignored files
shelf/
workspace.xml

# Editor-based HTTP Client requests
httpRequests/

# Datasource local storage ignored files
dataSources/
dataSources.local.xml

# Global patterns for common file types
**/*.xml
**/*.iml

# Ignore CMakeLists.txt files anywhere
**/CMakeLists.txt